.body {
	background-color:white;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    height:100%;
    margin:auto;
    text-transform:uppercase;
    width:100%;
    font-size:16px;
}

.dataBody{
    margin-right:30px;
}

.separator{
    margin-top:20px;
}

.historyBox {
    border: 1px solid #4CAF50;
    border-radius: 40px;
    background-image: linear-gradient(#f5faeb,rgba(218, 254, 166, 0.9));
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.25);
    padding:initial;
    width: 75%;
    overflow: auto;
    margin-bottom:30px;
    margin:auto;
    margin-bottom:20px;
    text-align:center;
}

.cantorText {
    margin-top:10px;
    font-weight:bold;
    text-transform:uppercase;
    font-size:16px;
}

.streetText {
    font-size: 15px;
    margin-top: 10px;
    color: #0fbcf5;
}

.courseText {
    margin-top:10px;
    font-size:22px;
    font-weight:bold;
    text-transform:uppercase;
}

.locationText {
    font-size:15px;
    margin-top:10px;
    margin-bottom:10px;
    color:red;
    font-weight:bold;
}

.text {
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

/*obs³uga menu*/
.topnav {
    overflow: hidden;
    background-color: black;
    position: relative;
}

.topnav #myLinks {
    display: none;
    border-top:1px solid black;
}

.topnav a {
    color: white;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 12px;
    display: block;
}

.topnav a.icon {
    background-image:url("../images/menu.png");
    display: block;
    position: absolute;
    left: 5px;
    top: 8px;
}

.topnav a:hover {
    background-color: #4CAF50;
    color: white;
}

.topnav input[type=text] {
    float: right;
    padding: 5px;
    border: none;
    margin-top: 12px;
    margin-right: 10px;
    font-size: 12px;
}

.active {
    background-color: #4CAF50;
    color: white;
}



/*Logowanie*/
form {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    text-align: center;
    background: #fff;
    width: 310px;
    height: 470px;
    border-radius: 5px;
    padding: 50px 20px 20px 20px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}

/*JUST ENTER....*/
p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 12px;
    color: #4CAF50;
    margin-bottom: 40px;
}

    p > span {
        padding-top: 3px;
        display: block;
        font-weight: 400;
        font-size: 9px;
    }

h3 {
    font-family: 'Dosis';
    font-size: 35px;
    text-transform: uppercase;
    color: #4CAF50;
    margin-bottom: 30px;
}

input,
button {
    outline: none !important;
}

    button.fb {
        border: none;
        background: #3b5998;
        width: 160px;
        height: 25px;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        color: #fff;
        text-transform: uppercase;
        border-radius: 4px;
        border: 1px solid #29487d;
        cursor: pointer;
        margin-bottom: 20px;
        transition: all 0.3s linear;
    }

        button.fb:hover {
            background: #fff;
            color: #3b5998;
        }

    button.form-btn {
        position: absolute;
        width: 50%;
        height: 60px;
        bottom: 0;
        border: 0;
        font-family: 'Dosis';
        font-size: 24px;
        text-transform: uppercase;
        cursor: pointer;
    }

        button.form-btn.sx {
            left: 0;
            border-radius: 0 0 0 5px;
            background-color: rgba(76, 175, 80, 0.35);
            color: #fff;
            transition: all 0.3s linear;
        }

            button.form-btn.sx:hover {
                background-color: rgba(76, 175, 80, 0.65);
                color: #fff;
            }

            button.form-btn.sx.back {
                background-color: rgba(76, 175, 80, 0.35);
                transition: all 0.3s linear;
            }

                button.form-btn.sx.back:hover {
                    background-color: rgba(76, 175, 80, 0.65);
                }
        /*Sign up*/
        button.form-btn.dx {
            right: 0;
            border-radius: 0 0 5px 0;
            background-color: #4CAF50;
            color: #fff;
        }
/* underlines */
input {
    border: none;
    border-bottom: 1px solid #4CAF50;
    width: 85%;
    font-family: 'Roboto';
    color: #4CAF50;
    text-align: center;
    font-size: 21px;
    font-weight: 100;
    margin-bottom: 25px;
}
/* Insert registration password etc*/
::-webkit-input-placeholder {
    color: #4CAF50;
    font-family: 'Roboto';
    font-weight: 100;
}
/* Insert login email etc*/
:-moz-placeholder {
    color: #4CAF50;
    font-family: 'Roboto';
    font-weight: 100;
}

::-moz-placeholder {
    color: #4CAF50;
    font-family: 'Roboto';
    font-weight: 100;
}
/* Insert registration email etc*/
:-ms-input-placeholder {
    color: #4CAF50;
    font-family: 'Roboto';
    font-weight: 100;
}

.signIn input,
.signUp .w100 {
    width: 100%;
}

.signIn {
    z-index: 2;
}

.signUp {
    z-index: 1;
    transform: perspective(100px) translate3d(100px, 0px, -30px);
    opacity: 0.5;
}

.active-dx {
    animation-name: foregrounding-dx;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

.active-sx {
    animation-name: foregrounding-sx;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

.inactive-dx {
    animation-name: overshadowing-dx;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

.inactive-sx {
    animation-name: overshadowing-sx;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

@keyframes overshadowing-dx {
    0% {
        z-index: 2;
        transform: perspective(100px) translate3d(0px, 0px, 0px);
        opacity: 1;
        box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    }

    100% {
        z-index: 1;
        transform: perspective(100px) translate3d(100px, 0px, -30px);
        opacity: 0.5;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
    }
}

@keyframes overshadowing-sx {
    0% {
        z-index: 2;
        transform: perspective(100px) translate3d(0px, 0px, 0px);
        opacity: 1;
        box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    }

    100% {
        z-index: 1;
        transform: perspective(100px) translate3d(-100px, 0px, -30px);
        opacity: 0.5;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
    }
}

@keyframes foregrounding-dx {
    0% {
        z-index: 1;
        transform: perspective(100px) translate3d(100px, 0px, -30px);
        opacity: 0.5;
    }

    50% {
        z-index: 2;
        transform: perspective(100px) translate3d(400px, 0px, -30px);
    }

    100% {
        z-index: 2;
        transform: perspective(100px) translate3d(0px, 0px, 0px);
        opacity: 1;
    }
}

@keyframes foregrounding-sx {
    0% {
        z-index: 1;
        transform: perspective(100px) translate3d(-100px, 0px, -30px);
        opacity: 0.5;
    }

    50% {
        z-index: 2;
        transform: perspective(100px) translate3d(-400px, 0px, -30px);
    }

    100% {
        z-index: 2;
        transform: perspective(100px) translate3d(0px, 0px, 0px);
        opacity: 1;
    }
}